/* reset */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background:
}

header{
position: relative;
}

small{
  margin: 20px 0;
}

h2{
  font-size: 40px;
  color: #33475b;
}

h3{
  font-size: 26px;
  font-weight: bold;
  color: #33475b;
}

h4{
  font-size: 20px;
  color: #33475b;
}

h5{
  color: white;
  font-size: 16px;
  padding: 20px 0;
}

p{
  line-height: 25px;
  margin: 18px 0;
  color: #33475b;
  font-size: 16px;
}

main{
  background: #f5f8fa;
}

footer{
  background: #33475b;
}

/* mix  di classi*/
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

.container-box{
  width: 75%;
  margin: auto;
}

.btn{
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 6px;
  border-radius: 4px;
}

.btn-color{
  background: #ff7a59;
  color: white;
}

.check-orange{
  color: #ff7a59;
  margin: 0 20px 0 0;
}
/* navbar 1  */
.nav-bar{
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
}

.list-style {
  float: left;
  margin: 20px 0;
  color:#33475b;
  line-height: 2;
}

.list-style a{
  color:#33475b;
}

.list-style li{
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.angle-down-1{
  padding-right: 15px;
  border-right: 1px solid black;
}

.list-style-2 {
  float: right;
  margin: 20px 0;
}

.list-style-2 li{
  display: inline-block;
  list-style: none;
  padding-left: 10px;
  vertical-align: middle;
}

 a{
  display: inline-block;
  text-decoration: none;
}

.search-1{
  color: #66ccff;
}

/* navbar-2 */
.nav-bar-2 img{
  float:left;
  width: 8%;
  margin: 20px 0;
  text-align: center;
}

.nav-menu{
  float: right;
  text-align: right;
}

.nav-menu li{
  display: inline-block;
  text-decoration: none;
}

.nav-menu li a{
  margin: 20px 0;
  color: #33475b;
}

.angle-down-2{
  padding: 15px;
}

/* hero/banner */
.hero-banner{
  position: relative;
  background-image: url('../img/jumbotron.png');
  height: 800px;
  background-position: right;
  background-size: cover;
}

.text-hero{
  position: absolute;
  left: 235px;
  top: 100px;
  width: 30%;
}

.text-hero a{
  font-size: 20px;
}

.barra-vuota{
  width: 100%;
  height: 70px;
  background: #66ffe0;
  position: absolute;
  bottom: 0px;
  border-top:2px solid black;
  border-bottom: 2px solid black;
}

/* sottosezione main */
.subtitle-section{
  text-align: center;
}

.subtitle-section img{
  text-align: center;
  width: 300px;
  padding-top: 30px;
}

.subtitle-section p{
  padding: 0 300px;
}

/* section row 1 */
.row{
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.icon-button{
  float: left;
  width: 40%;
  text-align: center;
}

.icon-button img{
  width: 30%;
  margin: 50px 50px 30px 50px;
}

.icon-button ul li{
  list-style: none;
}

.icon-button ul li a{
  font-size: 20px;
  padding: 25px;
  margin-bottom: 30px;
}

.text-row{
  width: 50%;
  float: left;
  margin: 50px;
}

.text-row p{
  font-size: 16px;
  margin: 25px 0;
}

.text-row h5{
  text-transform: uppercase;
}

.text-row ul li {
  list-style:  none;
  display: inline-block;
  margin: 15px 15px 0 0;
}

.text-row h5{
  color:#33475b;
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

.hr-feature{
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

/* sezione a 3 colonne */
.col{
  width:30%;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
  float: left;
  background-color: white;
}


.img-col{
  width: 40%;
  height: 80px;
}

.col p{
  margin-bottom: 50px;
}

.subtitle-task{
  text-transform: uppercase;
  margin: 30px 0;
}

.list-tasks{
  text-align: left;
  color: #33475b;
}

.list-tasks li{
  list-style: none;
}

.col a{
  margin-top: 50px;
  padding: 20px;
}

.col-2{
  margin: 0 5%;
}
/* sezione info e color gradient */
.row-3{
  background-image: linear-gradient(to right, #00a4bd, #00bda5);
  margin-top: 50px;
}

.title-sect-gradient{
  text-align: center;
  padding-top: 40px;
}

.special-text{
  color: white;
}

.gradient-p{
  font-size: 14px;
  color: white;
}

.container-gradient{
  text-align: center;
}

.container-gradient:not(:last-child){
  border-bottom: 1px solid white;
}

.container-gradient:last-child{
  padding-bottom: 50px;
}

.container-gradient:first-child{
  padding-top: 50px;
}

.box-gradient{
  width: 25%;
  float: left;
}

.box-gradient img{
  width: 20%;
  height: 60px;
  margin: 0 20px;
  padding-top: 20px;
}

.box-gradient:not(:last-child){
  border-right: 1px solid white;
}

.number-bold{
  font-weight: bolder;
  font-size: 38px;
  color: white;
}

#plus{
  font-size: 22px;
  vertical-align: middle;
}
/* sezione sponsor */
.container-sponsor{
  width: 65%;
  margin: auto;
}

.sponsor-box-text{
  width: 50%;
  padding-top: 80px;
  float: left;
  margin-bottom: 40px;
}

.img-sponsor{
  text-align: right;
  float: left;
}

.sponsor-img{
  vertical-align: middle;
  width: calc(25% - 4px);
  margin: 10px 0;
  padding: 0 15px;
}
/* section bottom sponsor */
.section-sponsor-bottom{
  width: 60%;
  float: left;
  margin-top: 50px;
}

.section-sponsor-bottom p{
  font-size: 14px;
}

.section-sponsor-bottom a{
  padding: 20px;
  margin: 30px 0;
}

.img-sponsor-bottom{
  text-align: center;
  width: 40%;
  float: left;
}

.woman{
  width: 50%;
}
/* foote/ credits e condition */
.list-footer{
  width: 25%;
  text-align: left;
  float: left;
}

.list-footer a{
  color: white;
  font-size: 14px;
}

.list-footer li{
  list-style: none;
  line-height: 2;
}

.list-footer li a{
  margin: 0;
}

.list-footer li a:hover{
  text-decoration: underline;
}

#btn-footer{
  font-size: 12px;
  color: #33475b;
  background-color: white;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 10px 0;
}

.language-footer {
  text-align: center;
}

.language-footer li{
  margin: 60px 0 20px 0;
}

.social-list li, .language-footer li, .condition li{
  list-style: none;
  display: inline-block;
}

.social-list a, .language-footer a, .condition a{
  color: white;
  margin-right:10px;
}

.logo-foot{
  margin-top: 20px;
}

.credits{
  float: left;
}

.credits p{
  color: white;
  margin: 0;
}

.condition{
  float: right;
  margin-top: 20px;
}

.condition li a{
  margin: 0;
}
