/* reset */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

header{
position: relative;
}

small{
  display: block;
  margin: 20px 0;
}

h2{
  font-size: 40px;
}

p{
  line-height: 25px;
  margin: 20px 0;
}

/* mix */
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

/* navbar 1  */
.nav-bar{
  height: 70px;
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
}

.bar-content{
  width: 75%;
  margin: auto;
}

.list-style {
  float: left;
  width: 80%;
  margin: 20px 0;
  color: grey;
}

.list-style li{
  display: inline-block;
  text-decoration: none;
}

.angle-down-1{
  padding-right: 15px;
  border-right: 1px solid black;
}

.list-style li:last-child{
  margin-left: 10px;
}

.list-style-2 {
  width: 20%;
  float: right;
  margin: 20px 0;
}

.list-style-2 li,a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding-left: 10px;
}

.search-1{
  color: lightgreen;
}

.btn{
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 6px;
  border-radius: 4px;
}

.btn-color{
  background: #ff7a59;
  color: white;
}
/* fine navbar-1 */

/* navbar-2 */
.nav-bar-2{
  width: 75%;
  margin: auto;
}

.nav-bar-2 img{
  float:left;
  width: 8%;
  margin: 20px 0;
  text-align: center;
}

.nav-menu{
  float: right;
  width: 80%;
  text-align: right;
}

.nav-menu li{
  display: inline-block;
  text-decoration: none;
}

.nav-menu li a{
  margin: 20px 0;
  color: grey;
}

.angle-down-2{
  padding: 15px;
}
/*fine navbar-2 */

/* hero/banner */
.hero-banner{
  position: relative;
  background-image: url('../img/jumbotron.png');
  height: 700px;
  background-position: right;
  background-size: cover;
}

.text-hero{
  position: absolute;
  left: 235px;
  top: 100px;
  width: 30%;
}

.text-hero a{
  font-size: 20px;
}

.barra-vuota{
  width: 100%;
  height: 70px;
  background: #66ffe0;

  position: absolute;
  bottom: -70px;
  border-top:2px solid black;
  border-bottom: 2px solid black;
}
/* fine hero banner */
